<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <p>To stay on top of all ANS 2022 Student Conference related information, join our mailing list for updates
            and event reminders.</p>
          <form action="mailto:nobody@nobody.com" method="post" enctype="text/plain">
            <table width="80%" border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td width="35%">
                  <div align="right"><b>Name:</b></div>
                </td>
                <td width="65%">
                  <input type="text" name="name" size="15">
                </td>
              </tr>
              <tr>
                <td width="35%">
                  <div align="right"><b>Email:</b></div>
                </td>
                <td width="65%">
                  <input type="text" name="email" size="20">
                </td>
              </tr>
              <tr>
                <td width="35%">
                  <div align="right"><b>Comment:</b></div>
                </td>
                <td width="65%">
                  <textarea name="comment" cols="25" wrap="virtual" rows="3"></textarea>
                </td>
              </tr>
              <tr>
                <td width="35%">&nbsp;</td>
                <td width="65%">
                  <input type="submit" name="Submit" value="Submit">
                  <input type="reset" name="reset" value="Reset">
                </td>
              </tr>
              <tr>
                <td width="35%">&nbsp;</td>
                <td width="65%">&nbsp;</td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Site Links</h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a
                href="https://www.google.com/maps/d/u/1/viewer?mid=1DZlVNqQaclivoKJtnRSdl__ObGnnHg2a&ll=40.11294072042654%2C-88.22797958547415&z=15">Once
                You're Here</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="accommodations.html">Accommodations</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="registration.html">Registration</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="call_for_papers.html">Papers Submission</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="contact_us.html">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a href="https://mtd.org/maps-and-schedules/routes/">CU-MTD Bus
                Schedule</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="http://www.ans.org/">ANS National</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="http://ansatuiuc.web.engr.illinois.edu/">UIUC ANS</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="https://ansuiuc.github.io/SC-2021-app/#/conference">My
                Conference Schedule</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            668 S Wright St
            Urbana, IL 61801
            United States
          <p>Phone:</p> +1 217 333 2295<br>
          <p>Email:</p> email@gmail.com<br>
          </p>

          <div class="social-links">
            <a href="https://twitter.com/ANS_Illinois/"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/groups/ANSatUofI/"><i class="fa fa-facebook"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</footer>
