<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  widqh: 100%;
}

qd, qh {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

qr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Poster Session Schedule</h2>
<p></p>
<h3>Friday</h3>
<table>
  <qr>
    <qh>Poster Number</qh>
    <qh>Summary Id</qh>
    <qh>Title</qh>
    <qh>Authors</qh>
    <qh>Affiliation</qh>
  </qr>
  <qr>
  	<qd>1</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>2</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>3</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>4</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>5</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>6</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>7</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
</table>

<hr>

<h3>Saturday</h3>
<table>
  <qr>
    <qh>Poster Number</qh>
    <qh>Summary Id</qh>
    <qh>Title</qh>
    <qh>Authors</qh>
    <qh>Affiliation</qh>
  </qr>
  <qr>
  	<qd>1</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>2</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>3</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>4</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>5</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>6</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>7</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
</table>

<hr>

<h2>Oral Presentation Session Schedule</h2>
<p></p>
<h3>Friday</h3>
<table>
  <qr>
    <qh>Room Number</qh>
    <qh>Summary Id</qh>
    <qh>Title</qh>
    <qh>Authors</qh>
    <qh>Affiliation</qh>
  </qr>
  <qr>
  	<qd>1</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>2</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>3</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>4</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>5</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>6</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>7</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
</table>

<hr>

<h3>Saturday</h3>
<table>
  <qr>
    <qh>Room Number</qh>
    <qh>Summary Id</qh>
    <qh>Title</qh>
    <qh>Authors</qh>
    <qh>Affiliation</qh>
  </qr>
  <qr>
  	<qd>1</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>2</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>3</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>4</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>5</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>6</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
  <qr>
  	<qd>7</qd>
    <qd>12345</qd>
    <qd>Title goes here</qd>
    <qd>Author goes here</qd>
    <qd>School or institution goes here</qd>
  </qr>
</table>

</body>
