<body>
<style>
table.table2 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  position: center;
}

table.table2 td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  
table.table2 th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.table2 tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<p></p>
<p></p>
  
<div class="container">
  <h2>Poster Session Schedule</h2>
<p></p>
</div>
  
<p></p>
<h3 align="center">Friday</h3>
<table align="center" class="table2" style="margin-bottom:2cm;">
  <tr>
    <th>Poster Number</th>
    <th>Summary Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Affiliation</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>3</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>4</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>5</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>6</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>7</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
</table>

<hr>

<h3 align="center">Saturday</h3>
<table align="center" class="table2" style="margin-bottom:2cm;">
  <tr>
    <th>Poster Number</th>
    <th>Summary Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Affiliation</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>3</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>4</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>5</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>6</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>7</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
</table>
<p></p>
<hr>
  
<div class="container">
  <p></p>
  <h2>Technical Presentation Session Schedule</h2>
</div>

  <p></p>
  <p></p>
<h3 align="center">Friday</h3>
<table align="center" class="table2" style="margin-bottom:2cm;">
  <tr>
    <th>Room Number</th>
    <th>Summary Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Affiliation</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>3</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>4</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>5</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>6</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>7</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
</table>

<hr>

<h3 align="center">Saturday</h3>
<table align="center" class="table2" style="margin-bottom:2cm;">
  <tr>
    <th>Room Number</th>
    <th>Summary Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Affiliation</th>
  </tr>
  <tr>
  	<td>1</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>2</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>3</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>4</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>5</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>6</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
  <tr>
  	<td>7</td>
    <td>12345</td>
    <td>Title goes here</td>
    <td>Author goes here</td>
    <td>School or institution goes here</td>
  </tr>
</table>

</body>
